<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="kr.spring.video.dao.VideoMapper"> 
	 <sql id="searchV">
	 	<where>
		 	<if test="keyword != null and keyword != '' ">
		 		<if test="keyfield == 1">
		 			video_title LIKE '%' || #{keyword} || '%'
		 		</if>
		 		<if test="keyfield == 2">
		 			video_content LIKE '%' || #{keyword} || '%'
		 		</if>
		 		<if test="keyfield == 3">
		 			video_title LIKE '%' || #{keyword} || '%' OR 
		 			video_content LIKE '%' || #{keyword} || '%'
		 		</if>
		 	</if>
	 	</where>
	 </sql>
	 <select id="selectCountV" parameterType="map" resultType="integer">
	 	SELECT COUNT(*)
	 	FROM video_healthy JOIN member USING(mem_num)
	 	<include refid="searchV"></include>
	 </select>
	 <select id="selectVList" parameterType="map" resultType="videoVO">
	 	SELECT 
	 		*
	 	FROM (SELECT rownum anum, a.* 
	 				 FROM (SELECT * 
	 				 			  FROM video_healthy
	 				 			  	JOIN member USING (mem_num)
	 				 			  <include refid="searchV"></include>
	 				 			  ORDER BY video_num DESC
	 				 			  ) a)
	 	<![CDATA[
	 	WHERE anum >= #{start} AND anum <= #{end}
	 	]]>
	 </select>
	  <select id="selectV" parameterType="map" resultType="videoVO">
	 	SELECT 
	 			*
	 	FROM  video_healthy
	 	WHERE video_num=#{video_num}
	 </select>
	 
 </mapper>







