<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="kr.spring.community.dao.CommunityMapper"> 
	<!-- =================게시판================= -->
	<!-- 목록 -->
	<sql id="typeSearch">
		<where>
			<!-- 카테고리 -->
			<if test="cbo_type != null and cbo_type != ''">
				cbo_type=#{cbo_type}
			</if>
			<!-- 검색 -->
			<if test="keyword !=null and keyword != ''">
				<!-- 카테고리가 있는 경우 -->
				<if test="cbo_type != null and cbo_type != ''">
					AND
				</if>
				<!-- 카테고리가 없는 경우 -->
				<if test="keyfield == 1">
					(cbo_title LIKE '%' || #{keyword} || '%' OR
					cbo_content LIKE '%' || #{keyword} || '%')
				</if>
			</if>
		</where>
	</sql>
	<sql id="cboardOrder">
		<!-- 정렬 -->
		<if test="order == 1"><!-- 최신순 -->
			ORDER BY cbo_rdate DESC
		</if>
		<if test="order == 2"><!-- 조회수 -->
			ORDER BY cbo_hit DESC
		</if>
		<if test="order == 3"><!-- 좋아요수 -->
			ORDER BY fav_cnt DESC NULLS LAST
		</if>
		<if test="order == 4"><!-- 댓글수 -->
			ORDER BY re_cnt DESC NULLS LAST
		</if>
	</sql>
	<!-- 게시판 글 개수 -->
	<select id="selectRowCount" parameterType="map" resultType="integer">
		SELECT
			COUNT(*)
		FROM cboard JOIN member USING(mem_num)
		<include refid="typeSearch"></include>
	</select>
	<!-- 게시판 목록 -->
	<select id="selectCommunityList" parameterType="map" resultType="communityVO">
		SELECT
			*
		FROM (SELECT
			a.*,
			rownum rnum
			FROM (SELECT
					cbo_type,
					cbo_num,
					mem_num,
					<![CDATA[
					REPLACE(REPLACE(cbo_title,'<','&lt;'),'>','&gt;') cbo_title,
					]]>
					cbo_content,
					cbo_hit,
					cbo_rdate,
					mem_id,
					re_cnt,
					fav_cnt
				FROM cboard
				LEFT OUTER JOIN (SELECT COUNT(*) re_cnt, cbo_num FROM cboard_re GROUP BY cbo_num) USING(cbo_num)
				LEFT OUTER JOIN (SELECT COUNT(*) fav_cnt, cbo_num FROM cboard_fav GROUP BY cbo_num) USING(cbo_num)
				JOIN member USING (mem_num)
				<include refid="typeSearch"></include>
				<include refid="cboardOrder"></include>
				)a)
		<![CDATA[
		WHERE rnum >= #{start} AND rnum <= #{end}
		]]>
	</select>
	
	<!-- 글 등록 -->
	<insert id="insertCommunity">
		INSERT INTO cboard(
			cbo_num,
			mem_num,
			cbo_type,
			cbo_title,
			cbo_content)
		VALUES (
			cboard_seq.nextval,
			#{mem_num},
			#{cbo_type},
			#{cbo_title},
			#{cbo_content})
	</insert>
	
	<!-- 글 수정 -->
	<update id="updateCommunity" parameterType="communityVO">
		UPDATE cboard SET
			cbo_type = #{cbo_type},
			cbo_title = #{cbo_title},
			cbo_content = #{cbo_content}
		WHERE cbo_num = #{cbo_num}
	</update>
	
	<!-- =================댓글================= -->
	
	
	<!-- =================답글/대댓글================= -->
	
</mapper>

