@charset "UTF-8";

.text-lightgray {
	color: #71767A;
}
.text-gary {
	color: #565C65;
}
.text-lightblack {
	color: #3D4551;
}
.text-black {
	color: #1C1D1F;
}

/* =================== hospitals =================== */
/* 진료과목 */
.sub-icon {
	padding: 0 0;
	margin: 0 auto;
	width:35px;
	height:35px;
	overflow: hidden;
	
}

.sub-name {
	font-size: 14px;
	color: #555555;
	font-weight: 700;
	padding: 0 0;
	margin: 0 auto;
}

.subject{
	margin: 5px;
	cursor: pointer;
	width: 140px;
	height: 70px;
	padding: 5px;
}
.subject:hover{
	background-color: RGB(220, 225, 230);
}

/* 더보기 */
#more{
	height: 50px;
	margin: 10px 0;
	cursor: pointer;
}
#more p{
	margin: 0 auto;
	font-size: 20px;
	text-align: center;
	line-height: 50px;
}
#more_box{
	position: fixed;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%);
	width: 600px;
	height: 700px;
	overflow-y: auto;
	z-index: 1001;
}
#more_box::-webkit-scrollbar {
    display: none; /* 웹킷 브라우저에서 스크롤바 숨기기 */
}
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 99%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* 반투명 검은색 배경 */
    z-index: 1000; /* div 아래에 배치 */
}
.sub-item{
	cursor: pointer;
	align-items: center;
}
.sub-item:hover {
	cursor: pointer;
	background-color: #f2f2f2;
}


/* 어떻게 아프신가요 */
.hs-item{
	cursor: pointer;
	height: 45px;
	align-content: center;
}
.hs-item:hover {
	background-color: #52b788;
	transform: scale(1.05);
}
.hs-item:hover p{
	color: white;
}
.hs-item p {
	color: white;
	font-weight: 800;
	font-size: 16px;
	margin: auto 0px ;
}

/* 검색창 */
#search_form {
	position: relative;
}
#h-search-icon {
	font-size: 20px;
    position: absolute;
    right: 10px;
    align-self: center;
    cursor: pointer;
}
#h-search {
	height: 50px;
	padding-right: 30px;
}

/* 인기 검색어 */
.hkw-item{
	cursor: pointer;
	height: 35px;
	overflow: hidden;
	align-content: center;
	display: inline-block;
	min-width: 75px;
}
.hkw-item:hover {
	background-color: #cecece;
}
.hkw{
	margin: auto auto;
}

/* 지도 */
#mapDiv {
	width:700px;
	height: 600px;
	margin: 0 auto;
}

/* =================== hospital > search =================== */
#search_back {
	cursor: pointer;
	margin: 0 10px;
}
.filter-item{
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 70px;
	height: 40px;
	margin: 0 12px;
	padding: 0 10px;
	font-size: 13px;
	font-weight: 600;
	color: #4a4a4a;
	background-color: #e0e0e0;
	border-radius: 20px;
	cursor: pointer;
}
.filter-item:hover {
	background-color: #cecece;
}
.filter-item-selected {
	box-sizing: border-box;
	border: 2px solid #8c8c8c;
	background-color: #adadad;
}
#filter-img-box{
	height: 40px;
	width: 40px;
	margin-right: 10px;
	border-radius: 50px;
	border: 2px solid #52b788;
	background-color: #74c69d;
	align-content: center;
	text-align: center;
	cursor: pointer;
}
.hospital-box{
	cursor: pointer;
	border-radius: 10px;
	padding: 12px 10px;
}
.hospital-box:hover {
	background-color: #f2f2f2;
}
.hospital-docCnt{
	margin-top: 10px;
	padding: 2px;
	border-radius: 5px;
	background-color: #f2f2f2;
	display: inline-block;
}
.sortType-item {
	cursor: pointer;
	width: 300px;
	height: 50px;
	border-radius: 5px;
	display: flex;
	align-items:center;
}
.sortType-item:hover {
	cursor: pointer;
	background-color: #f2f2f2;
}
.greenCircle{
	width: 8px;
	height: 8px;
	border-radius: 8px;
	border: 2px solid #41A652;
	background-color: #51CF66;
	margin-right: 3px;
}

.redCircle{
	width: 8px;
	height: 8px;
	border-radius: 8px;
	border: 2px solid #E60634;
	background-color: #FF073A;
	margin-right: 3px;
}
.greenText{
	color: #51CF66;
}
.redText{
	color: #FF073A;
}
/* =================== hospital > search > detail =================== */
#detail_hosName{
	margin:15px 0;
}
#detail_hosTime,#detail_hosSub,#detail_hosPosition,#detail_hosTell,#detail_hosRev,#detail_btn_box{
	padding: 30px 20px;
}
.detail-hospital-info-item{
	width: auto;
	height: 35px;
	margin-right: 8px;
	padding: 5px 10px;
	border-radius: 10px;
	background-color: #e0e0e0;
	align-content:center;
	font-size: 14px;
	color: #5f5f5f;
}
.detail-hosRev-item{
	margin: 10px 0;
	padding: 10px;
}
.detail_hosRev_profile{
	margin-right: 20px;
}
.detail_hosRev_title{
	width: 600px;
	max-height: 100px;
	padding-top: 10px;
	margin-right: 40px;
	
	text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow:hidden;
}
.detail_hosRev_content{
	width: 600px;
	max-height: 100px;
	padding-top: 10px;
	margin-right: 40px;
}
.overflowText {
	text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow:hidden;
}
.heigtAuto{
	max-height:none;
}
.hosRev_more_content_icon{
	cursor: pointer;
}



#reservation_btn,#call_btn{
	display: flex;
	background-color: #40916c;
	width: 300px;
	height: 60px;
	padding: 5px 15px;
	color: white;
	font-weight: 700;
	font-size: 18px;
	cursor: pointer;
	border-radius: 15px;
	border: none;
	text-align: center;
	vertical-align: middle;
	justify-content: center;
	align-items:center;
	margin: 0 25px;
}
#reservation_btn:hover,#call_btn:hover{
	background-color: #52b788;
}




/* =================== consultings =================== */
.consulting-item-div{
	padding: 12px 10px; 
}
.consulting-item-div:hover{
	cursor: pointer;
	background-color: #F3F5F7;
}
.consulting-item-title{
	font-size: 18px;
	font-weight: 700;
	color: #3D4551;
	margin: 10px 0;
	display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow:hidden;
}
.consulting-item-content{
	font-size: 14px;
	color: #8D9297;
	margin: 8px 0;
	max-height: 63px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow:hidden;
}
.consulting-item-type{
	display:flex;
}
.consulting-item-type span{
	background-color: #EDEFF0;
	padding: 3px 6px;
	font-size: 12px;
	color: #8D9297;
	border-radius: 5px;
}
.consulting-item-reCnt{
	display: flex;
	margin: 15px 0;
	justify-content: space-between;
	align-items: center;
	font-size: 14px;
	font-weight: 700;
	color: #3D4551;
}
.consulting-item-reCnt div{
	margin-right: 10px;
}
#consulting-btn{
	width:100%;
	height: 60px;
	border-radius: 10px;
	border: none;
	color:white;
	font-size: 20px;
	font-weight: 700;
	background-color: #40916c;
	margin: 20px 0;
}
/* =================== consultings/create =================== */
#con_title_div, #con_content_div, #con_type_div{
	margin: 30px 0;
}
#con_title_label, #con_content_label, #con_type_label{
	font-size: 15px;
	font-weight: 600;
	color: #4a4a4a;
	margin-bottom: 10px;
}
#con_re_content_label,#reply_length{
 	font-size: 13px;
 	font-weight: 600;
 	color: #5f5f5f;
 	margin-bottom: 10px;
 }
#consulting-write-btn{
	width:100%;
	height: 60px;
	border-radius: 10px;
	border: none;
	color:white;
	font-size: 20px;
	font-weight: 700;
	background-color: #40916c;
	margin: 20px 0;
}
#con_type{
	height: 70px;
	background-color: #f2f2f2;
	font-size: 18px;
	border-radius: 15px;
}
#con_info_div{
	padding: 15px;
	background-color: #F5F6F7;
}
#con_info_div p {
	margin-left: 10px;
	font-size: 15px;
	font-weight: 700;
	color: #3D4551;
}
#con_info_div ul li {
	font-size: 12px;
	margin: 5px 0;
	color: #8D9297;
}

/* =================== consultings/detail =================== */
.toGoHosBtn{
	 color: #565c65; 
	 border:none; 
	 background-color:#EDEFF0;
	 border-radius: 15px;
	 padding: 24px;
	 font-weight: 700;
}
.toGoHosBtn:hover{
	background-color:#d6d6d6;	
}
.goodBtn,.badBtn{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 450px;
	height: 60px;
	border: 1px solid #d6d6d6;
	border-radius: 10px;
	color: #565C65;
	font-weight: 700;
	font-size: 16px;
	margin: 10px 5px;
	cursor: pointer;
}