@charset "UTF-8";
.display{
	display:flex;
	padding:0 10px 10px 10px;
}
.nav-body{
	width:200px;
	height:800px;
	overflow:auto;
}
.nav-item{
	width:200px;
}
.nav-item th,
.nav-item td{
	padding:10px;
	border-bottom:2px solid #cecece;
}
.nav-item th{
	text-align:center;
}
.nav-item a{
	text-decoration: none;
}
.nav-item a:hover{
	color:#333333;
	cursor:pointer;
}
.nav-title th{
	height:110px;
	color: rgb(76, 165, 165);
}
.selected-chat td a{
	color:white;
}
.selected-chat td a:hover{
	color:white;
}
.chat-main{
	width:600px;
	height:800px;
}
.chat-header{
	padding:10px;
	width:600px;
	height:110px;
	display:flex;
	align-items: center;
}
.res-title{
	display:table-cell;
	vertical-align:middle;
	padding:10px;
	width:450px;
}
.chat-title,.chat-date{
	width:450px;
	padding-left:10px;
	color:white;
}
.chat-body{
	width:100%;
	height:77%;
	padding:0;
	margin-bottom:5px;
	overflow:auto;	
}
.close-room{
	transform: translateY(265px);
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.chat-close-btn{
	border-radius: 5px;
	border:none;
	width:100px;
	height:50px;
	background-color:white;
	color:rgb(76, 165, 165);
	display:flex;
	justify-content:center;
	align-items: center;
	float:right;
}
.chat-image{
	border-radius: 5px;
	border:none;
	width:50px;
	height:50px;
	color:white;
	display:flex;
	justify-content:center;
	align-items: center;
}
.chat-input{
	height:50px;
}
.chat-input form{
	display:flex;
	margin-left:5px;
}
.chat-input input[type="submit"]{
	width:100px;
	height:50px;
}
.chat-input input[type="text"]{
	margin: 0 2px;
	width:430px;
	height:50px;
	padding:0 10px;
	border-width:thin;
	border-color:rgb(68, 207, 195);
	border-radius:5px;
}
.chat-body ul li{
	border-radius:10px;
	margin:5px 0;
	clear:both;
}
.other-message{
	max-width:55%;
	color:white;
	float:left;
	word-wrap: break-word; /* 긴 단어의 줄바꿈 처리 */
  	overflow-wrap: break-word;
  	padding:10px;
}
.my-message{
	overflow:auto;
	max-width:55%;
	color:white;
	float:right;
	word-wrap: break-word; /* 긴 단어의 줄바꿈 처리 */
  	overflow-wrap: break-word;
  	padding:10px;
}
.image-form{
	display:none;
}
/*===========================
		모달창 구성(이미지 전송)
=============================*/
.image-form{
	width:500px;
	height:200px;
	position:absolute;
	top:43%;
	left:37%;
	display:none;
	background-color:white;
	justify-content: center;
    align-items: center;
    z-index:999;
}
.image-form .form-body{
	margin-top:50px;
}
.form-title{
	display:flex;
	align-items: center;
	padding-left:20px;
	width:100%;
	height:60px;
	color:white;
	
}
.close-button{
	margin: auto 10px auto auto;
	border: none;
	background-color:rgb(0,0,0,0);
	color:white;;
}
.form-body{
	display:flex;
	justify-content: center;
}
.form-body form{
	vertical-align:middle;
}
.image-form-bg{ /* 모달 뒤편 어두운 배경 */
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:131%;
	background-color: rgba(0,0,0,0.5);
	z-index:998;
	display:none;
}
/*=======================
	  모달창 구성(채팅종료)
=========================*/
.close-file-form{
	display:none;
	position:absolute;
	top:25%;
	left:37%;
	width:600px;
	height:650px;
	background-color:white;
	z-index:999;
}
.close-file-form-bg{ /* 모달 뒤편 어두운 배경 */
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:138%;
	background-color: rgba(0,0,0,0.5);
	z-index:998;
	display:none;
}
.close-file-form .close-form-body{
	margin:30px 10px 10px 10px;
}
.close-form-body .form-body{
	display:inline;
	text-align:center;
}
.close-form-body .form-body input{
	padding:5px;
	margin:0 5px;
}

#file_table{
	border-collapse:collapse;
}
#file_table tr{
	height:40px;
}
#file_table th,
#file_table td{
	text-align:center;
	border-bottom: 1px solid #ccc;
}
.form-list{
	height:200px;
	margin:10px 0;
}
.form-notice{
	padding-top:5px;
}
.form-notice span{
	display:block;
}
.list-name{
	width:250px;
}
.list-type{
	width:150px;
}
.list-valid-date{
	width:132px;
}
.list-delete{
	width:20px;
	color:rgb(76, 165, 165);
}
#select_file{
	width:298px;
}
.close-file-form .form-button{
	display:flex;
    justify-content: center;
    align-items: center;
    margin-top:60px;
}
.close-form-btn{
	vertical-align:middle;
	width:140px;
	height:60px;
	margin:3px;
}
.list-delete{
	border:none;
	background-color:none;
}

/*=======================
	모달창 구성(진료비 청구)
=========================*/
.close-payment-form{
	display:none;
	position:absolute;
	top:25%;
	left:37%;
	width:600px;
	height:400px;
	background-color:white;
	z-index:999;
}
.close-payment-form-bg{ /* 모달 뒤편 어두운 배경 */
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:140%;
	background-color: rgba(0,0,0,0.5);
	z-index:998;
	display:none;
}
.close-payment-form .close-form-body{
	margin:50px 55px 10px 55px;
}
#pay_amount{
	width:400px;
}
.close-payment-form .form-button{
	display:flex;
    justify-content: center;
    align-items: center;
    margin-top:80px;
}
/*=======================
		나의 서류함
=========================*/
