@charset "UTF-8";
.margin-top-5{
	margin-top:5px;
}

.margin-top-50{
	margin-top:50px;
}
.margin-left-30{
	margin-left:30px;
}
.margin-left-15{
	margin-left:15px;
}
.margin-left-15{
	text-align:left;
	margin-left:15px;
}
.padding-left-40{
	padding-left:40px;
}
.display-body{
	height:850px;
	margin-bottom:50px;
}
.display{
	display:flex;
}
.nav-body{
	width:200px;
	height:798px;
	overflow-y:auto;
	overflow-x:hidden;
	border-top-left-radius: 15px; /* 좌측 상단 모서리 둥글게 */
    border-bottom-left-radius: 15px;
    box-shadow: -8px 8px 15px #e0e0e0;
    background-color:#f2f0e9;
}

.chat-nav-selected-bg{
	background-color:#95c7a7;
}
.chat-nav-completed-bg{
	background-color:#e0ded5;
}
.nav-item{
	width:200px;
}
.nav-item th,
.nav-item td{
	padding:10px;
	border-bottom:2px solid #cecece;
}
.nav-item th{
	text-align:center;
}
.nav-item a{
	text-decoration: none;
}
.nav-item a:hover{
	color:#333333;
	cursor:pointer;
}
.nav-title th{
	height:110px;
	color: #2d6a4f;
}
.selected-chat td a{
	color:white;
}
.selected-chat td a:hover{
	color:white;
}
.chat-main{
	width:600px;
	height:800px;
	border-top-right-radius:15px;
	border-bottom-right-radius:15px;
	box-shadow:8px 8px 15px #e0e0e0;
}
.chat-header{
	padding:10px;
	width:600px;
	height:110px;
	display:flex;
	align-items: center;
	border-top-right-radius:15px;
}
.res-title{
	display:table-cell;
	vertical-align:middle;
	padding:10px;
	width:450px;
}
.chat-title,.chat-date{
	width:450px;
	padding-left:10px;
	color:white;
}
.chat-body{
	width:100%;
	height:79%;
	padding:0;
	margin-bottom:5px;
	overflow:auto;	
}
.chat-select-notice{
	position:absolute;
	top:54%;
	left:57%;
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.close-room{
	transform: translateY(265px);
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chat-close-btn{
	border-radius: 5px;
	border:none;
	width:100px;
	height:50px;
	background-color:white;
	color:#40916c;
	display:flex;
	justify-content:center;
	align-items: center;
	float:right;
}
.chat-image{
	border-radius: 5px;
	border:none;
	width:50px;
	height:50px;
	color:white;
	display:flex;
	justify-content:center;
	align-items: center;
}
.chat-input{
	height:50px;
}
.chat-input form{
	display:flex;
	margin-left:5px;
}
.chat-input input[type="submit"]{
	width:100px;
	height:50px;
}
.chat-input input[type="text"]{
	margin: 0 2px;
	width:430px;
	height:50px;
	padding:0 10px;
	border-width:thin;
	border-radius:5px;
}
.chat-body ul li{
	border-radius:10px;
	clear:both;
}
.other-message{
	max-width:55%;
	color:white;
	float:left;
	word-wrap: break-word; /* 긴 단어의 줄바꿈 처리 */
  	overflow-wrap: break-word;
  	padding:10px;
  	margin:5px 0 5px 5px;
}
.my-message{
	overflow:auto;
	max-width:55%;
	color:white;
	float:right;
	word-wrap: break-word; /* 긴 단어의 줄바꿈 처리 */
  	overflow-wrap: break-word;
  	padding:10px;
  	margin:5px 5px 5px 0;
}
.msg-image{
	border-radius: 5px;
	border:none;
	max-width:300px;
	color:white;
	display:flex;
	justify-content:center;
	align-items: center;
}
.image-form{
	display:none;
}
.msg-image-modal{
	display:none;
	position:fixed;
	top: 50%; /* 화면의 중앙으로 위치 설정 */
    left: 50%; /* 화면의 중앙으로 위치 설정 */
    transform: translate(-50%, -50%); /* 중앙 정렬을 위한 변환 */
	background-color:white;
	justify-content: center;
    align-items: center;
    z-index:999;
}
.msg-image-modal-bg{ /* 모달 뒤편 어두운 배경 */
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:150%;
	background-color: rgba(0,0,0,0.5);
	z-index:998;
	display:none;
}
.btn-chat{
	background-color: #40916c;
    color: #fff; /* 버튼 텍스트를 하얀색으로 */
    border: none; /* 기본 테두리 제거 */
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.btn-chat:hover{
	background-color: #74c69d;
    transform: scale(1.02);
}
.btn-message{
	font-size:15px;
	font-weight:500;
	width:300px;
	background-color: #fff;
    color: #40916c; /* 버튼 텍스트를 어두운 초록으로 */
    border: none; /* 기본 테두리 제거 */
    margin-top:20px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.btn-message:hover{
	background-color: #d8f3dc;
    transform: scale(1.02);
}
/*===========================
		모달창 구성(이미지 전송)
=============================*/
.image-form{
	width:500px;
	height:200px;
	position:absolute;
	top:43%;
	left:37%;
	display:none;
	background-color:white;
	justify-content: center;
    align-items: center;
    z-index:999;
}
.image-form .form-body{
	margin-top:50px;
}
.form-title{
	display:flex;
	align-items: center;
	padding-left:20px;
	width:100%;
	height:60px;
	color:white;
	
}
.close-button{
	margin: auto 10px auto auto;
	border: none;
	background-color:rgb(0,0,0,0);
	color:white;;
}
.form-body{
	display:flex;
	justify-content: center;
}
.form-body form{
	vertical-align:middle;
}
.image-form-bg{ /* 모달 뒤편 어두운 배경 */
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:131%;
	background-color: rgba(0,0,0,0.5);
	z-index:998;
	display:none;
}
/*=======================
	  모달창 구성(채팅종료)
=========================*/
.close-file-form{
	display:none;
	position:absolute;
	top:25%;
	left:37%;
	width:600px;
	height:650px;
	background-color:white;
	z-index:999;
}
.close-file-form-bg{ /* 모달 뒤편 어두운 배경 */
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:138%;
	background-color: rgba(0,0,0,0.5);
	z-index:998;
	display:none;
}
.close-file-form .close-form-body{
	margin:30px 10px 10px 10px;
}
.close-form-body .form-body{
	display:inline;
	text-align:center;
}
.close-form-body .form-body input{
	padding:5px;
	margin:0 5px;
}

#file_table{
	margin-left:15px;
	border-collapse:collapse;
}
#file_table tr{
	height:40px;
}
#file_table th,
#file_table td{
	text-align:center;
	border-bottom: 1px solid #ccc;
}
.form-list{ 
	height:200px;
	margin:10px 0;
	overflow:auto;
}
.form-notice{
	padding-top:5px;
}
.form-notice span{
	display:block;
}
.list-name{
	width:250px;
}
.list-type{
	width:150px;
}
.list-valid-date{
	width:132px;
}
.list-delete{
	width:20px;
	color:#2d6a4f;
}
#select_file{
	width:305px;
}
select#file_type{
	width:130px;
	height:38px;
}
label[for="file_valid_date"]{
	margin-left:12px;
}
#form_charge{
	margin-bottom:10px;
}
.close-file-form .form-button{
	display:flex;
    justify-content: center;
    align-items: center;
    margin-top:60px;
}
.close-form-btn{
	vertical-align:middle;
	width:140px;
	height:60px;
	margin:3px;
}
.list-delete{
	border:none;
	background-color:none;
}

/*=======================
	모달창 구성(진료비 청구)
=========================*/
.close-payment-form{
	display:none;
	position:absolute;
	top:25%;
	left:37%;
	width:600px;
	height:400px;
	background-color:white;
	z-index:999;
}
.close-payment-form-bg{ /* 모달 뒤편 어두운 배경 */
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:140%;
	background-color: rgba(0,0,0,0.5);
	z-index:998;
	display:none;
}
.close-payment-form .close-form-body{
	margin:50px 55px 10px 55px;
}
#pay_amount{
	width:400px;
}
.close-payment-form .form-button{
	display:flex;
    justify-content: center;
    align-items: center;
    margin-top:80px;
}
/*=======================
		나의 서류함
=========================*/
.file-body{
	width:100%;
	height:700px;
	padding:0;
	margin-bottom:5px;
	overflow:auto;
	align-items: center;
}
.file-table{
	width:550px;
	margin:17px;
}
.file-table th:first-child,
.file-table td:first-child {
	border-left: 0;
}
.file-table th:last-child,
.file-table td:last-child {
	border-right: 0;
}
.file-table tr th,
.file-table tr td{
	text-align:center;
	border:1px solid #f2f2f2;
}
.list-head th{
	padding: 10px 0;
}
.btn-td{
	text-align:center;
	padding: 12px 0;
}
.file-body .close-room{
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*=======================
		의약품 상세보기
=========================*/
.modal{
	justify-content: center;
    align-items: center;
}
.drugImg-modal{
	width:700px;
	height:700px;
	display:flex;
	flex-direction: column;
	align-items:center;
	justify-content:center;
}
.modal-header{
	width:500px;
	height:70px;
	color:white;
}
.modal-body{
	width:500px;
	background-color:white;
	display:flex;
	flex-direction: column;
	align-items:center;
	justify-content:center;
	flex:0 0 auto;
}
.main-margin{
	margin: 0 20px;
}

.table-bordered tr td{
	height:70px;
	vertical-align:middle;
	padding-left:20px;
}
/*=======================
	  의약품 상세보기 목록
=========================*/
.drug-table{
	table-layout:fixed;
}
.drug-table-title{
	width:150px;
}
.drug-table-image{
	width:500px;
	text-align:center;
	vertical-align:middle;
}
.drug-btn button{
	color:white;
	background-color: #40916c;
	border: 1px solid;
}
.list-margin{
	margin-top:50px;
	margin-bottom:100px;
	transform:translateX(-20px);
}
.modal-header .close{
	position:static;
	color:white;
	transform:translateX(260px);
}
.list-drug-name{
	margin:0 60px 0 60px;
}

.drug-keyfield{
	height:50px;
	width:130px;
	margin-right:7px;
}
.drug-keyword{
	height:50px;	
}
.page-one{
	width:900px;
	margin:30px auto 100px auto;
}
.drug-table{
	margin:auto;
}
.drug-table tr th,
.drug-table tr td{
	white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
    width:600px;
    max-width:600px;
	padding:20px 0;
}
.drug-table tr td{
	border-bottom:1px solid #e0e0e0;
}
.drug-name-td>a{
	white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
    width:100%;
}
.drug-name-td>a:hover{
	color:#a3a3a3;
}

.drug-name-th,
.drug-name-td{
	width:550px !important;
	border-bottom:1px solid #e0e0e0;
}
.drug-company{
	width:150px;
}
.drug-effect{
	width:80px;
}
.drug-search{
	width:500px;
	margin:0 auto;
}
.drug-search ul li{
	display:flex;
	justify-content: center;
	margin-right:0;
}
#h-search-icon{
	font-size:20px;
	transform:translateX(-30px);
	align-self:center;
	cursor:pointer;
}
.text-lightgray{
	color:#71767a;
}
.warin{
	text-align:center;
	margin:300px 0;
}
/*=======================
	  의약품 효능 modal
=========================*/
.drug-effect-info{
	display:none;
	position:absolute;
	z-index:999;
	width:400px;
}
.effect-info-header{
	display:flex;
	justify-content:space-between;
	align-items:center;
	padding: 0 10px;
	color:white;
	width:400px;
	height:50px;
}
.effect-info-body{
	display:table-cell;
	text-align:center;
	vertical-align:middle;
	/*background-color:white;*/
	padding: 0 5px;
	width:400px;
	height:90px;
}