@charset "UTF-8";
.hide{
	display:none;
}
.align-center{
	text-align:center;
}
.align-right{
	text-align:right;
}
.align-left{
	text-align:left;
}
#review-table{
	width:80%;
	margin:0 auto;
}
table#review-table tr {
	margin: 20px 40px;

}
.checkbox {
  display: none;
}


.hide{
	display:none;
}
.subitems{
	padding-left:50px;
}
/*------ Settings ------*/
.container {
  --color: #a5a5b0;
  --size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  font-size: var(--size);
  user-select: none;
  fill: var(--color);
}

.container .chevron-down {
  position: absolute;
  animation: keyframes-return .5s;
}

/* ------ On check event ------ */
.container input:checked ~ .chevron-down {
  animation: keyframes-rotate .5s;
  transform: rotate(180deg);
}

/* ------ Hide the default checkbox ------ */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* ------ Animation ------ */
@keyframes keyframes-rotate {
  0% {
    transform: rotate(0deg);
    opacity: 0;
  }

  100% {
    transform: rotate(-180deg);
  }
}

@keyframes keyframes-return {
  0% {
    transform: rotate(-180deg);
    opacity: 0;
  }

  100% {
    transform: rotate(0deg);
  }
}
/*별점*/
.rating > label {
 
}

.rating:not(:checked) > input {
  display: none;
}

.rating:not(:checked) > label {
  float: right;
  cursor: pointer;
  font-size: 30px;
}

.rating:not(:checked) > label > svg {
  fill: #666;
  transition: fill 0.3s ease;
}

.rating > input:checked ~ label > svg {
  fill: #ffa723;
}

.rating:not(:checked) > label:hover ~ label > svg,
.rating:not(:checked) > label:hover > svg {
  fill: #ff9e0b;
}

#star1:hover ~ label > svg,
#star1:hover > svg {
  fill:#9f7e18 !important;
}

#star2:hover ~ label > svg,
#star2:hover > svg {
  fill: #9f7e18 !important;
}

#star3:hover ~ label > svg,
#star3:hover > svg {
  fill: #9f7e18 !important;
}

#star4:hover ~ label > svg,
#star4:hover > svg {
  fill: #9f7e18 !important;
}

#star5:hover ~ label > svg,
#star5:hover > svg {
  fill: #9f7e18 !important;
}
#star0-5:checked ~ label > svg {
  fill: #eab308;
}
#star1:checked ~ label > svg {
  fill: #eab308;
}
#star1-5:checked ~ label > svg {
  fill: #eab308;
}

#star2-5:checked ~ label > svg {
  fill: #eab308;
}

#star3-5:checked ~ label > svg {
  fill: #eab308;
}

#star4-5:checked ~ label > svg {
  fill: #eab308 ;
}


#star2:checked ~ label > svg {
  fill: #eab308;
}

#star3:checked ~ label > svg {
  fill: #eab308;
}

#star4:checked ~ label > svg {
  fill: #eab308 ;
}

#star5:checked ~ label > svg {
  fill: #eab308;
}
.star6 ~ label > svg {
  fill: #eab308;
  cursor:default;
}
.rating > input.star6 ~ label > svg {
   fill:#eab308; 
   
   
}

.rating__label {
	
	width: 16.64px;/* 원본 사이즈/2 */
	overflow: hidden;
	cursor: pointer;
}
.rating__label--full  {
	background-position: right;
}
.half {
	 transform: scaleX(-1) ;
}
.star {
  display: none;
}
/*버튼*/
.button {
  cursor: pointer;
  padding:0 10px ;
  color: black;
  border: 2px solid rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  outline: none;
  box-shadow: 0 6px 7px rgba(0, 0, 0, 0.1),
    inset 0 2px 4px rgba(255, 255, 255, 0.5); /* Hinzufügen eines inneren Schattens für Tiefe */
  backdrop-filter: blur(12px) saturate(180%);
  -webkit-backdrop-filter: blur(12px) saturate(180%);
  position: relative;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.5);
  background-image: linear-gradient(
    to top,
    rgba(206, 255, 255, 0.75),
    rgba(216, 255, 244, 0.65)
  );
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 0%;
}

.button:hover {
  box-shadow: 0 7px 9px rgba(0, 0, 0, 0.15),
    inset 0 3px 5px rgba(255, 255, 255, 0.6);
}

@keyframes fillButtonAndPress {
  0% {
    background-size: 100% 0%;
    transform: translateY(0);
    border: 2px solid rgba(255, 255, 255, 0.6);
  }

}

.button:active {
  animation: fillButtonAndPress 0.4s ease forwards;
}

.font {
  font-optical-sizing: auto;
  font-style: normal;
}

button.default-btn {
  	background-color: rgb(102, 178, 178);
    color: #fff; /* 버튼 텍스트를 하얀색으로 */
    border: none; /* 기본 테두리 제거 */
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
input.default-btn {
    background-color: rgb(102, 178, 178);
    color: #fff; /* 버튼 텍스트를 하얀색으로 */
    border: none; /* 기본 테두리 제거 */
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
input.defaul-tbtn:hover {
 	background-color: rgb(76, 165, 165);
    transform: scale(1.05);
}

button.defaul-tbtn:hover {
 	background-color: rgb(76, 165, 165);
    transform: scale(1.05);
}
div.float-clear{
	clear:both;
}

#myList:hover {

	background-color: #f2f2f2;
	border-radius: 10px;
}