@charset "UTF-8";
.time-header {
    margin-left: 10px;
    /* font-weight: bold; */
    /* color: #757575; */
}
#time-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.time-button {
    background-color: transparent;
    border: 1px solid #ccc;
    color: #000;
    padding: 10px 20px;
    cursor: pointer;
    margin: 7px;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-size: 16px;
    width: 185px; /* 버튼의 너비를 통일 */
    height: 45px; /* 버튼의 높이를 통일 */
}
.time-button.disabled {
    background-color: transparent;
    color: gray;
    border: 1px solid #d6d6d6;
    cursor: default; /* 기본 커서로 설정 */
    opacity: 1;
}
.time-button:hover {
    background-color: #f2fcf3;
}
.time-button.selected {
    background-color: #d8f3dc;
}
.time-section {
    margin-bottom: 15px;
    text-align: left;
    padding: 0;
}
.time-row {
    display: flex;
    justify-content: left;
    margin-bottom: 10px;
    width: 100%;
}
.time-row:empty {
    display: none;
}
.button-row {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.reserve-btn {
    width: 100px;
}
.doctor-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 40px;
}
.doctor-card {
    width: 200px;
    margin: 10px;
    text-align: center;
}
.doctor-image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 12px;
}
.doctor-name{
	margin-bottom: 15px;
	font-size: 1em;
	font-weight: bold;
}
.res-type-container {
    margin-top: 10px;
    text-align: left;
}
.confirm-container {
    padding: 20px;
    width: 750px;
    margin: 20px auto;
}
.reservation-header h3 {
    margin: 0;
    font-size: 18px;
    color: #333;
}
.reservation-header p {
    margin: 0;
    font-size: 14px;
    color: #666;
}
.reservation-details {
    margin-top: 20px;
    border: 3px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    background-color: #fff;
}
.reservation-userInfo {
    margin-top: 20px;
    /* border: 1px solid #ddd;
    border-radius: 5px; */
    padding: 15px;
    background-color: #fff;
}
.detail-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}
.detail-item:last-child {
    border-bottom: none;
}
.detail-item label {
    font-weight: bold;
    color: #333;
}
.detail-item span, .detail-item textarea {
    color: #333;
    width: 70%;
}
.detail-item textarea {
    height: 80px;
    resize: none;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
}
.reservation-footer {
    display: flex;
    margin-top: 20px;
    justify-content: right;
    margin-right: 8px;
}
.btn {
    width: 100px; /* 버튼의 너비 조정 */
    height: 50px; /* 버튼의 높이 조정 */
    font-size: 15px; /* 폰트 크기 조정 */
    border-radius: 10px; /* 모서리 반경 조정 */
    margin-right: 5px;
}
.agree-btn{
	background-color: #74c69d; /* 활성화 상태 색상 */
    border-color: #74c69d;
    color: #fff;
}
.btn-primary{
    background-color: #d8f3dc;
    border-color: #d8f3dc;
    color: white; /* 텍스트 색상 변경 */
}
.btn-primary:hover, .agree-btn:hover {
    background-color: #b7e4c7;
    border-color: #b7e4c7;
    color: white; /* 텍스트 색상 변경 */
}
.btn-primary.active{
    background-color: #74c69d; /* 활성화 상태 색상 */
    border-color: #74c69d;
    color: #fff;
}
.btn-primary:disabled{
    background-color: #b7e4c7; /* 비활성화 상태 색상 */
    border-color: #b7e4c7;
    color: #fff;
    opacity: 0.6; /* 비활성화 상태 불투명도 */
    cursor: not-allowed; /* 비활성화 상태 커서 */
}
.btn-secondary, .prev-btn {
    background-color: #bdbdbd;
    border-color: #bdbdbd;
    color: white; /* 텍스트 색상 변경 */
}
.btn-secondary:hover, .prev-btn:hover {
    background-color: #e0e0e0;
    border-color: #e0e0e0;
    color: white; /* 텍스트 색상 변경 */
}
.btn-secondary.active, .prev-btn:active {
    background-color: #bdbdbd; /* 활성화 상태 색상 */
    border-color: #bdbdbd;
    color: #fff;
}
.btn-secondary.active:hover, .prev-btn:hover {
    background-color: #e0e0e0;
    border-color: #e0e0e0;
    color: #fff;
}
/* .next-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
} */
.next-button-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 115px 20px 0;
}
.res-type-container label {
    display: block;
    margin: 5px 0 5px 52px;
}
.no-time {
    padding: 100px 308px; /* 패딩 값 설정 */
    margin: 20px 0; /* 위아래 여백 설정 */
    text-align: center; /* 텍스트 중앙 정렬 */
    border-radius: 10px; /* 모서리를 둥글게 설정 */
    background-color: #f8f9fa; /* 배경색 설정 */
}
#confirm-name, #confirm-phone, #confirm-symptoms {
    border: 1px solid #000;
    border-radius: 10px; /* 테두리를 둥글게 설정 */
    padding: 10px; /* 패딩 값 설정 */
}
.hide {
    display: none;
}

.chevron-down, .chevron-up {
    cursor: pointer;
    transition: transform 0.2s ease;
}

.chevron-up {
    transform: rotate(180deg);
}

.collapsible-content {
   /* margin: 10px 0;  내용 부분의 마진 조정 */
    padding-left: 5px;  /*들여쓰기 추가 */
    padding-right: 5px;
}

.privacy-info, .privacy-info-sub {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px; /* 패딩 추가 */
    /*border: 1px solid #ddd;  테두리 추가 */
    border-radius: 4px; /* 모서리 둥글게 */
    background-color: #f9f9f9; /* 배경색 추가 */
}

.privacy-info-sub {
    margin-top: 5px; /* 간격 추가 */
}

.privacy-info-title {
    font-weight: bold;
    
}
.privacy-collection {
    background-color: #f2f2f2; /* 개인정보 수집 동의 배경색 설정 */
}

.privacy-provision {
    background-color: #f2f2f2; /* 개인정보 제공 동의 배경색 설정 */
}
#privacy_collect, #privacy_provide{
	background: #f2f2f2;
	margin-bottom: 5px;
	border-radius: 4px;
    height: 200px; /* 표시하고 싶은 높이 설정 */
    overflow-y: scroll; /* 스크롤 가능하게 설정 */
    white-space: pre-line; /* 줄바꿈을 반영하게 설정 */
}
.outer-line{
	background: #f7f9fa;
	border-radius: 4px;
	padding-bottom: 5px;
	margin-top: 35px;
}
.reservation-container {
    width: 100%;
    margin: 0 auto;
    /* padding-top: 10px; */
    /* padding-bottom: 10px; */
    padding: 0 5px 10px 5px;
}
.reservation-header {
    display: flex;
    align-items: center;
    justify-content: space-between; /* 요소들을 양쪽 끝으로 정렬 */
    margin-bottom: 10px;
}
.reservation-header img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 8px;
}
.reservation-header h4 {
    margin: 0;
    flex-grow: 1; /* 남은 공간을 차지하도록 설정 */
}
.reservation-actions {
    margin-left: 10px; /* 병원 이름과 버튼 사이에 간격 추가 */
}
.cancel-button, .review-button {
    padding: 5px 10px;
    cursor: pointer;
    width: 90px;
    border-radius: 10px;
    border:none;
    margin-top: 10px;
}
.cancel-button {
	background-color: #52b788;
    color: white; 
}
.review-button {
	background-color: #74c69d;
	color: white;
}
.cancel-button:hover, .review-button:hover{
	background-color: #b7e4c7;
	border-color: #b7e4c7;
	color: white;
}
.reservation-body {
	/* background-color: #f9f9f9; */
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	margin-bottom: 25px;
	padding: 7px 20px 0px 20px;
	position: relative;
	height: 237px;
	margin-top: 10px;
}
.reservation-body p {
    margin: 5px 0;
}
.reservation-actions .review-button {
    color: white;
}
.reservation-actions .cancel-button {
    color: white;
}
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 18px;
}
.pagination a {
    margin: 0 5px;
    text-decoration: none;
    color: #000;
}
.pagination a.active {
    font-weight: bold;
    color: #000;
}
.reservation-header img {
    width: 38px;
    height: 38px;
    margin-right: 10px;
}
.reservation-header h4{
	margin-top:8px;
}
.detail-info {
    display: flex;
    padding: 10px 0;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
}
.detail-info:last-child {
    border-bottom: none;
}
.detail-info label {
    font-weight: bold;
    color: #333;
    width: 28%;
}
.detail-info span {
    font-size: 16px;
    width: 72%;
}
p{
	margin-top: 0.5rem;
	margin-bottom: 0.7rem;
}
/*스케줄 관리*/
.time-off {
    background-color: #fff;
}
.working-time {
    background-color: #f2fcf3;
}
.working-time-red {
    background-color: #f2fcf3;
}
.reserved-time{
	background-color: #f7f9fa;
	color: #cecece !important;
}
#time-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.time-row {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
#schedule_mobtn, #schedule_afbtn {
    border: 1px solid #ccc;
    color: #000;
    padding: 10px 20px;
    cursor: pointer;
    margin: 7px;
    border-radius: 4px;
    font-size: 16px;
    width: 162px; /* 버튼의 너비를 통일 */
    height: 43px; /* 버튼의 높이를 통일 */
}

#schedule_mobtn.disabled, #schedule_afbtn.disabled {
    color: gray;
    border: 1px solid #d6d6d6;
    cursor: default; /* 기본 커서로 설정 */
    opacity: 1;
}
#schedule_mobtn:hover, #schedule_afbtn:hover {
    background-color: #d8f3dc;
}
.button-row {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.modify-btn, .cancel-btn, .complete-modify-btn {
    width: 100px; /* 버튼의 너비 조정 */
    height: 50px; /* 버튼의 높이 조정 */
    font-size: 15px; /* 폰트 크기 조정 */
    border-radius: 10px; /* 모서리 반경 조정 */
    margin-right: 5px;
	border: 1px solid #ccc;
}
.modify-btn {
	background-color: #52b788;
	color: white;
	border: none;
	/* margin-left: 600px; */
	/* margin-bottom: 20px; */
}
.modify-btn:hover {
	background-color: #b7e4c7;
}
.complete-modify-btn {
    background-color: #74c69d; /* 활성화 상태 색상 */
    border-color: #74c69d;
    color: white; /* 텍스트 색상 변경 */
}
.complete-modify-btn:hover {
	background-color: #b7e4c7;
	border:none;
}
.cancel-btn {
	background-color: #bdbdbd;
    border-color: #bdbdbd;
    color: white; /* 텍스트 색상 변경 */
}
.cancel-btn:hover {
	background-color: #e0e0e0;
    border-color: #e0e0e0;
    color: white; /* 텍스트 색상 변경 */
}
.active {
    pointer-events: auto;
}
.approve-button, .reject-button, .complete-button {
    padding: 5px 10px;
    cursor: pointer;
    width: 90px;
    border-radius: 10px;
    border: none;
    margin-top: 10px;
    margin-right: 5px;
}
.approve-button {
    background-color: #52b788;
    color: white;
}
.reject-button {
    background-color: #bdbdbd;/* #d6d6d6; */
    color: white;
}
.complete-button {
	background-color: #40916c;
    color: white;
}
.complete-button:hover {
    background-color: #52b788;
    border-color: #52b788;
    color: white;
}
.approve-button:hover {
	background-color: #74c69d;
    border-color: #74c69d;
    color: white;
}
.reject-button:hover {
	background-color: #cecece;
    border-color: #cecece;
    color: white;
}
.docreservation-body {
	/* background-color: #f9f9f9; */
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	margin-bottom: 25px;
	padding: 7px 20px 0px 20px;
	position: relative;
	height: 195px;
	margin-top: 10px;
}