/* .modal_btn {
	display: block;
	margin: 40px auto;
	padding: 10px 20px;
	background-color: royalblue;
	border: none;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	transition: box-shadow 0.2s;
}

.modal_btn:hover {
	box-shadow: 3px 4px 11px 0px #00000040;
}

모달 팝업 영역 스타일링
.modal {
	팝업 배경
	display: none; 평소에는 보이지 않도록
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	background: rgba(0, 0, 0, 0.5);
}

.modal .modal_popup {
	팝업
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 20px;
	background: #ffffff;
	border-radius: 20px;
}

.modal .modal_popup .close_btn {
	display: block;
	padding: 10px 20px;
	background-color: rgb(116, 0, 0);
	border: none;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	transition: box-shadow 0.2s;
}
 */
 
 /* 에러 */
.error-body {
	background-color: rgba(57, 174, 164, 0.21);
}

.mainbox {
	background-color: #fff;
	text-align: center;
	margin: auto;
	height: 870px;
	width: 800px;
	position: relative;
}

.err {
	color: rgba(57, 174, 164, 0.3);
	font-family: 'Nunito Sans', sans-serif;
	font-size: 11rem;
	position: absolute;
	left: 20%;
	top: 30%;
}

.far {
	position: absolute;
	font-size: 8.5rem;
	left: 42%;
	top: 35%;
	color: rgba(57, 174, 164, 0.3);
}

.err2 {
	color: rgba(57, 174, 164, 0.3);
	font-family: 'Nunito Sans', sans-serif;
	font-size: 11rem;
	position: absolute;
	left: 68%;
	top: 30%;
}

.msg {
	text-align: center;
	font-family: 'Nunito Sans', sans-serif;
	font-size: 1.6rem;
	position: absolute;
	left: 14%;
	top: 60%;
	width: 75%;
	color: rgba(57, 174, 164, 0.21);
}

.msgh {
	color: rgba(57, 174, 164, 1);
}

a {
	text-decoration: none;
	color: rgba(57, 174, 164, 0.21);
}

a:hover {
	text-decoration: underline;
}
/* 마이페이지 */
ul {
    list-style-type: none;
}
.side-bar{
	border-right: 1px solid #ccc;
	height:470px;
}
.camera{
	width:45px;
	height:45px;
	border-radius:100%;
	background-color:#fff;
	position:relative;
	top:-30px;
	left:65px;
	border:2px solid #e1e1e1;
	cursor:pointer;
	padding:13px 0 0 10px;
}
.basic-btn {
    border: 1px solid #ccc; /* 테두리 선 스타일 */
    padding: 20px; /* 내부 여백 */
    margin-bottom: 20px; /* 하단 여백 */
    text-align:center;
}
.basic-btn ul{
	display:inline-block;
	margin-left:30px;
	margin-right:80px;
}
.basic-btn input[type="button"]{
	border:none;
	text-align:center;
	margin-left:100px;
	margin-right:100px;
}
/* 회원정보 */
.memberInfo{
	margin-top:50px;
	text-align:center;
	font-size:20px;
}
/* 약 복용 내역 */
.medicationHistory{
	margin-top:50px;
	text-align:center;
	font-size:20px;
}
/* 후기내역 */
.reviewHistory{
	margin-top:50px;
	text-align:center;
	font-size:20px;
}