<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="kr.spring.review.dao.ReviewMapper"> 
	 <sql id="search">
		 		<if test="keyfield == 1">
		 			ORDER BY rev_num DESC
		 		</if>
		 		<if test="keyfield == 2">
		 			ORDER BY rev_grade DESC
		 		</if>
		 		<if test="keyfield == 3">
		 			ORDER BY rev_grade ASC
		 		</if>
		 		<if test="keyfield == 4">
		 			ORDER BY rev_cnt DESC
		 		</if>
	 </sql>
	 <select id="selectCountByHos" parameterType="map" resultType="integer">
	 	SELECT COUNT(*)
	 	FROM review JOIN member USING(mem_num)
	 	WHERE hos_num = #{hos_num}
	 </select>
	 <select id="selectCountByMem" parameterType="map" resultType="integer">
	 	SELECT COUNT(*)
	 	FROM review JOIN member USING(mem_num)
	 	WHERE mem_num = #{mem_num}
	 </select>
	 <select id="selectCountByDoc" parameterType="map" resultType="integer">
	 	SELECT COUNT(*)
	 	FROM review JOIN member USING(mem_num)
	 	WHERE doc_num = #{doc_num}
	 </select>
	 <select id="selectReviewListByHos" parameterType="map" resultType="reviewVO">
	 	SELECT 
	 		*
	 	FROM (SELECT rownum anum, a.* 
	 				 FROM (SELECT * 
	 				 			  FROM review JOIN member USING(mem_num)
	 				 			  						  LEFT OUTER JOIN hospital USING(hos_num)
	 				 			  WHERE hos_num=#{hos_num}
	 				 			  <include refid="search"></include>
	 				 			  ) a)
	 	<![CDATA[
	 	WHERE anum >= #{start} AND anum <= #{end}
	 	]]>
	 </select>
	 <select id="selectReviewListByMem" parameterType="map" resultType="reviewVO">
	 	SELECT 
	 		*
	 	FROM (SELECT rownum anum, a.* 
	 				 FROM (SELECT * 
	 				 			  FROM review JOIN member USING(mem_num)
	 				 			  						  LEFT OUTER JOIN hospital USING(hos_num)
	 				 			  WHERE mem_num=#{mem_num}
	 				 			  <include refid="search"></include>
	 				 			  ) a)
	 	<![CDATA[
	 	WHERE anum >= #{start} AND anum <= #{end}
	 	]]>
	 </select>
	 	 <select id="selectReviewListByDoc" parameterType="map" resultType="reviewVO">
	 	SELECT 
	 		*
	 	FROM (SELECT rownum anum, a.* 
	 				 FROM (SELECT * 
	 				 			  FROM review JOIN member USING(mem_num)
	 				 			  						  		 LEFT OUTER JOIN hospital USING(hos_num)
	 				 			  WHERE doc_num=#{doc_num}
	 				 			  <include refid="search"></include>
	 				 			  ) a)
	 	<![CDATA[
	 	WHERE anum >= #{start} AND anum <= #{end}
	 	]]>
	 </select>
	 
 </mapper>







