<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="kr.spring.health.dao.HealthMapper"> 
	 <!-- 글쓰기 -->
	 <insert id="insertHeal" parameterType="healthyBlogVO">
	 	INSERT INTO healthy_blog(
	 		healthy_num,
	 		mem_num,
	 		healthy_title,
	 		healthy_content,
	 		h_filename) 
	 	VALUES(
	 		health_seq.nextval,
	 		#{mem_num},
	 		#{healthy_title},
	 		#{healthy_content},
	 		#{h_filename , jdbcType=VARCHAR})
	 </insert>
	 <sql id="searchHeal">
	 	<where>
		 	<if test="keyword != null and keyword != '' ">
		 		<if test="keyfield == 1">
		 			healthy_title LIKE '%' || #{keyword} || '%'
		 		</if>
		 		<if test="keyfield == 2">
		 			healthy_content LIKE '%' || #{keyword} || '%'
		 		</if>
		 		<if test="keyfield == 3">
		 			healthy_title LIKE '%' || #{keyword} || '%' OR 
		 			healthy_content LIKE '%' || #{keyword} || '%'
		 		</if>
		 		<if test="keyfield == 4">
		 			mem_id LIKE '%' || #{keyword} || '%'
		 		</if>
		 	</if>
	 	</where>
	 </sql>
	 <select id="selectHealCount" parameterType="map" resultType="integer">
	 	SELECT COUNT(*)
	 	FROM healthy_blog JOIN member USING(mem_num)
	 	<include refid="searchHeal"></include>
	 </select>
	 <select id="selectHealList" parameterType="map" resultType="healthyBlogVO">
	 	SELECT 
	 		healthy_num,
	 		mem_id id,
	 		mem_num,
	 		healthy_title,
	 		healthy_content,
	 		h_reg_date,
	 		h_modify_date,
	 		healthy_hit,
	 		h_filename
	 	FROM (SELECT rownum anum, a.* 
	 				 FROM (SELECT * 
	 				 			  FROM healthy_Blog 
	 				 			  	JOIN member USING (mem_num)
	 				 			  <include refid="searchHeal"></include>
	 				 			  ORDER BY healthy_num DESC
	 				 			  ) a)
	 	<![CDATA[
	 	WHERE anum >= #{start} AND anum <= #{end}
	 	]]>
	 </select>
	  <select id="getHealthy" parameterType="map" resultType="healthyBlogVO">
	 	SELECT 
	 		healthy_num,
	 		mem_id id,
	 		mem_num,
	 		healthy_title,
	 		healthy_content,
	 		h_reg_date,
	 		h_modify_date,
	 		healthy_hit,
	 		h_filename,
	 		fav_cnt,
	 		click_num
	 	FROM  healthy_Blog JOIN member USING (mem_num)
	 										LEFT OUTER JOIN (SELECT COUNT(*) fav_cnt,healthy_num FROM healthy_fav GROUP BY healthy_num) USING(healthy_num)
	 										LEFT OUTER JOIN (SELECT mem_num click_num FROM healthy_fav WHERE healthy_num=#{healthy_num} AND mem_num=#{user_num}) ON mem_num=click_num
	 	WHERE healthy_num=#{healthy_num}
	 </select>
	 <update id="updateHeal" parameterType="healthyBlogVO">
	 	UPDATE healthy_blog 
	 	SET healthy_title=#{healthy_title},
	 		   healthy_content=#{healthy_content},
	 		   h_filename=#{h_filename, jdbcType=VARCHAR},
	 		   h_modify_date=SYSDATE
	 	WHERE healthy_num=#{healthy_num}
	 </update>
	 <select id="selectHre" parameterType="long" resultType="healthyReplyVO" >
	 	SELECT *
	 	FROM healthy_re 
	 	WHERE hre_num = #{hre_num}
	 </select>
	 <select id="selectHreList" parameterType="map" resultType="healthyReplyVO">
	 	SELECT 
	 		hre_num,
	 		healthy_num,
	 		mem_num,
	 		hre_renum,
	 		hre_content,
	 		hre_reg_date,
	 		hre_modify_date,
	 		hre_level,
	 		mem_id id
	 	FROM(SELECT rownum anum,
	 							 a.* 
	 				FROM (SELECT * 
	 							 FROM healthy_re  JOIN member USING (mem_num)
	 							 WHERE healthy_num=#{healthy_num}  AND hre_renum=0 AND hre_level=0 
	 							 ORDER BY hre_num DESC
	 				) a )
	 	<![CDATA[
	 	WHERE anum>=#{start} AND anum<=#{end}
	 	]]>
	 	
	 
	 </select>
 </mapper>







