<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="kr.spring.member.dao.DoctorMapper">
	<!-- 회원가입 -->
	<insert id="insertDoctor_detail" parameterType="doctorVO">
		INSERT INTO doctor_detail (doc_num,hos_num,doc_passwd,doc_email,doc_license,doc_history) 
		VALUES (#{doc_num},#{hos_num},#{doc_passwd},#{doc_email},#{doc_license},#{doc_history})
	</insert>
	<!-- 아이디 중복확인 -->
	<select id="checkId" parameterType="string" resultType="doctorVO">
		SELECT m.mem_num,d.doc_num,m.mem_id,m.mem_auth,m.mem_name,d.doc_passwd,d.doc_email 
		FROM member m
		LEFT OUTER JOIN doctor_detail d 
		ON m.mem_num = d.doc_num
		WHERE mem_id=#{mem_id}
	</select>
	
</mapper>







