<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="kr.spring.drug.dao.DrugInfoMapper"> 
	<!-- 의약품 API 저장 -->
	<insert id="insertDrugInfo" parameterType="kr.spring.drug.vo.DrugInfoVO">
        INSERT INTO drug (drg_num, drg_name, drg_code, drg_company, drg_effect,
                          drg_dosage, drg_warning, drg_precaution, drg_interaction,
                          drg_seffect, drg_storage, drg_img)
        VALUES (drug_seq.nextval, #{drg_name}, #{drg_code}, #{drg_company}, #{drg_effect},
                #{drg_dosage}, #{drg_warning}, #{drg_precaution}, #{drg_interaction},
                #{drg_seffect}, #{drg_storage}, #{drg_img})
    </insert>
    
    <!-- 의약품 검색 -->
    <sql id="drugSearch">
    	<where>
	    	<if test="keyword != null and keyword != ''">
	    		<if test="keyfield == 1">
	    			drg_name LIKE '%' || #{keyword} || '%'
	    		</if>
	    		<if test="keyfield == 2">
	    			drg_company LIKE '%' || #{keyword} || '%'
	    		</if>
	    		<if test="keyfield == 3">
	    			drg_effect LIKE '%' || #{keyword} || '%'
	    		</if>
	    	</if>
	    </where>
    </sql>
    
    <!-- 의약품 레코드 수/검색 레코드 수 -->
    <select id="selectRowCount" parameterType="map" resultType="integer">
		SELECT
			COUNT(*)
		FROM drug
		<include refid="drugSearch"></include>
    </select>
    <!-- 의약품 전체/검색 목록 -->
    <select id="selectList" parameterType="map" resultType="drugInfoVO">
    	SELECT
    		*
    	FROM (SELECT
    			a.*,
    			rownum rnum
    		  FROM (SELECT
    		  			*
    		  		FROM drug
    		  		<include refid="drugSearch"></include>
    		  		)a)
    	<![CDATA[
    	WHERE rnum >= #{start} AND rnum <= #{end}
    	]]>
    </select>
</mapper>

