<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="kr.spring.drug.dao.MemberDrugMapper"> 
	<!-- 회원 의약품 목용 내역 작성 -->
	<insert id="insertDrug" parameterType="memberDrugVO">
        INSERT INTO medicine (med_num, mem_num, med_title, med_name, med_sdate, med_edate, med_time, med_dosage, med_note)
        VALUES (drug_seq.nextval, #{mem_num}, #{med_title}, #{med_name}, #{med_sdate}, #{med_edate}, #{med_time},
                #{med_dosage}, #{med_note})
    </insert>
    <update id="updateDrug" parameterType="memberDrugVo">
    	UPDATE medicine SET 
    		med_title = #{med_title},
    		med_name = #{med_name},
    		med_sdate = #{med_sdate},
    		med_edate = #{med_edate},
    		med_time = #{med_time},
    		med_dosage = #{med_dosage},
    		med_note = #{med_note}
    	WHERE med_num = #{med_num}
    </update>
</mapper>

