<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="kr.spring.notification.dao.NotificationMapper">
	<!-- 알림 추가 -->
	<insert id="insertNotification" parameterType="notificationVO">
		INSERT INTO notification (  noti_num,
									mem_num,
									noti_category,
									noti_category_num,
									noti_message,
									noti_createdDate,
									noti_priority
									)
								VALUES( notification_seq.nextval,
										#{mem_num},
										#{noti_category},
										#{noti_category_num},
										#{noti_message},
										SYSDATE,
										#{noti_priority}
									)
	</insert>
	
	<!-- 알림 읽음 처리 -->
	<update id="readNotification" parameterType="long">
		UPDATE NOTIFICATION SET noti_isRead = 1 
		WHERE noti_num = #{noti_num}
	</update>
	
	<!-- 알림 상세 -->
	<select id="selectNotification" parameterType="long">
		SELECT * 
		FROM NOTIFICATION
		WHERE noti_num = #{noti_num}
	</select>
	
	<!-- 개인의 알림 갯수 -->
	<select id="selectCountNotification" parameterType="long">
		SELECT count(*)
		FROM notification
		WHERE mem_num = #{mem_num}
	</select>
	
	<!-- 개인의 알림 목록 -->
	<select id="selectListNotification" parameterType="long">
		SELECT *
		FROM notification
		WHERE mem_num = #{mem_num}
	</select>
	
	<!-- 알림 삭제 -->
	<delete id="deleteNotification" parameterType="long">
		DELETE FROM notification
		WHERE noti_num = #{noti_num}
	</delete>
</mapper>