<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="kr.spring.hospital.dao.HospitalMapper">
	<!-- Insert -->
	<insert id="insertHospital" parameterType="hospitalVO">
		INSERT INTO hospital VALUES (
									  #{hos_num},
									  #{hos_addr},
									  #{hos_div},
									  #{hos_divName},
									  #{hos_emcls},
									  #{hos_emclsName},
									  #{hos_eryn},
									  #{hos_etc},
									  #{hos_mapImg},
									  #{hos_name},
									  #{hos_tell1},
									  #{hos_tell3},
									  #{hos_time1C},
									  #{hos_time2C},
									  #{hos_time3C},
									  #{hos_time4C},
									  #{hos_time5C},
									  #{hos_time6C},
									  #{hos_time7C},
									  #{hos_time8C},
									  #{hos_time1S},
									  #{hos_time2S},
									  #{hos_time3S},
									  #{hos_time4S},
									  #{hos_time5S},
									  #{hos_time6S},
									  #{hos_time7S},
									  #{hos_time8S},
									  #{hos_hpId},
									  #{hos_postCdn1},
									  #{hos_postCdn2},
									  #{hos_info},
									  #{hos_lon},
									  #{hos_lat},
									  #{hos_x},
									  #{hos_y},
									  #{hos_weekendAt}
									  )
	</insert>
	

</mapper>