<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="kr.spring.reservation.dao.ReservationMapper"><!-- namespace가 인터페이스명과 같아야 한다. -->
	<!-- 병원진료시간 가져오기 -->
	<select id="getHosHours" parameterType="long" resultType="hospitalVO">
		SELECT 
			hos_time1c,hos_time2c,hos_time3c,hos_time4c,hos_time5c,hos_time6c,hos_time7c,
			hos_time1s,hos_time2s,hos_time3s,hos_time4s,hos_time5s,hos_time6s,hos_time7s 
		FROM hospital
		WHERE hos_num=#{hos_num}
	</select>
	<!-- 특정 날짜와 시간에 근무 가능한 의사 가져오기 -->
    <select id="getAvailableDoctors" parameterType="map" resultType="kr.spring.doctor.vo.DoctorVO">
        SELECT
            m.mem_num AS doc_num,
            m.mem_name,
            m.mem_photo AS image
        FROM
            member m
        JOIN
            doctor_detail dd ON m.mem_num = dd.doc_num
        LEFT OUTER JOIN
            holiday h ON m.mem_num = h.doc_num AND h.holi_date = #{date} AND h.holi_time = #{time}
        WHERE
            dd.hos_num = #{hos_num}
            AND dd.doc_off != #{dayOfWeek}
            AND (h.holi_status IS NULL OR h.holi_status != 1)
    </select>
 </mapper>