<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.spring.chat.dao.ChatMapper">
	<insert id="createChat" parameterType="reservationVO">
		INSERT INTO chat(
			chat_num,
			mem_num,
			doc_num,
			reg_date,
			chat_status)
		VALUES(
			chat_seq.nextval,
			mem_num=#{mem_num},
			doc_num=#{doc_num},
			SYSDATE,
			0)
	</insert>
	
	<select id="selectChatListForMem" parameterType="long" resultType="chatVO">
		SELECT 
			chat_num,
			c.mem_num,
			c.doc_num, 
			c.chat_reg_date, 
			c.chat_status, 
			res_num, 
			r.res_date, 
			r.res_time, 
			m.mem_name
		FROM chat c
		JOIN reservation r USING(res_num)
		JOIN member m ON (c.doc_num = m.mem_num)
		WHERE c.mem_num=#{mem_num}
	</select>
	
	<select id="selectChatListForDoc" parameterType="long" resultType="chatVO">
		SELECT 
			chat_num,
			c.mem_num,
			c.doc_num, 
			c.chat_reg_date, 
			c.chat_status, 
			res_num, 
			r.res_date, 
			r.res_time, 
			m.mem_name
		FROM chat c
		JOIN reservation r USING(res_num)
		JOIN member m ON (c.mem_num = m.mem_num)
		WHERE c.doc_num=#{mem_num}
	</select>
	
</mapper>