<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.spring.chat.dao.ChatMapper">
	<insert id="createChat" parameterType="reservationVO">
		INSERT INTO chat(
			chat_num,
			mem_num,
			doc_num,
			reg_date,
			chat_status)
		VALUES(
			chat_seq.nextval,
			mem_num=#{mem_num},
			doc_num=#{doc_num},
			SYSDATE,
			0);
	</insert>
</mapper>